body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  .container {
      display: flex;
      flex-direction: column;
      padding: 200px;
      align-items: center;
  }

  .d-flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .card {
      width: calc(50% - 20px);
      margin: 10px;
      background-color:#fff ;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .card-body{
    padding: 20px;
  }

  canvas {
      width: 50%;
      height: auto;
  }

  h1{
    color: #333;
    text-align: center;
  }